# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
.astro/

# Environment
.env
.env.local
.env.production

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Filtered docs (generated at build time)
src/content/docs/**
!src/content/docs/index.mdx


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
